apiVersion: ray.io/v1
kind: RayService
metadata:
  name: ray-serve-llm
spec:
  serveConfigV2: |
    applications:
    - name: llm
      import_path: ray.serve.llm:build_openai_app
      route_prefix: "/" # Note that "/" should be the default route prefix
      args:
        llm_configs:
        - model_loading_config:
            model_id: Qwen3-32B-FP8
            model_source: Qwen/Qwen3-32B-FP8
          engine_kwargs: # vLLM engine kwargs
            pipeline_parallel_size: 2
          deployment_config:
            autoscaling_config:
              min_replicas: 1
              max_replicas: 1
              target_ongoing_requests: 64
            max_ongoing_requests: 128
  rayClusterConfig:
    rayVersion: "2.50.1"
    headGroupSpec:
      rayStartParams:
        num-cpus: "0"
        num-gpus: "0"
      template:
        spec:
          containers:
          - name: ray-head
            image: rayproject/ray-llm:2.50.1-py311-cu128
            ports:
            - containerPort: 8000
              name: serve
              protocol: TCP
            - containerPort: 8080
              name: metrics
              protocol: TCP
            - containerPort: 6379
              name: gcs
              protocol: TCP
            - containerPort: 8265
              name: dashboard
              protocol: TCP
            - containerPort: 10001
              name: client
              protocol: TCP
            resources:
              requests:
                cpu: 1
                memory: 2Gi
    workerGroupSpecs:
    - replicas: 1
      minReplicas: 1
      maxReplicas: 1
      numOfHosts: 2
      groupName: gpu-group
      rayStartParams:
        num-gpus: "1"
      template:
        spec:
          tolerations:
          - key: nvidia.com/gpu
            operator: Equal
            value: "true"
            effect: NoSchedule
          containers:
          - name: ray-worker
            image: rayproject/ray-llm:2.50.1-py311-cu128
            env:
            - name: HF_TOKEN
              valueFrom:
                secretKeyRef:
                  name: hf-token
                  key: hf_token
            resources:
              requests:
                cpu: 28
                memory: 112Gi
                nvidia.com/gpu: "1"
              limits:
                cpu: 28
                memory: 112Gi
                nvidia.com/gpu: "1"