apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: aws-efa-device-plugin
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://aws.github.io/eks-charts
    chart: aws-efa-k8s-device-plugin
    targetRevision: v0.5.18
    helm:
      values: |
        nodeSelector:
          vpc.amazonaws.com/efa.present: 'true'
        tolerations:
          - key: nvidia.com/gpu
            operator: Exists
            effect: NoSchedule
  destination:
    server: https://kubernetes.default.svc
    namespace: kube-system
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true